@model List<OperationDoctor>


<section class="pt-7 pb-0">
    <div class="container">
        <div class="row no-gutters">
            @foreach (var item in Model)
            {
                <div class="col-lg-10 col-md-12">
                    <div class="card mt-8 mt-md-5"> 
                        <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                            <a class="d-block blur-shadow-image">
                                @if (item.ImageUrl1 != null)
                                {
                                    <img src="@item.ImageUrl1" alt="img-blur-shadow" class="img-fluid border-radius-lg" loading="lazy">
                                }
                            </a>
                            <div class="colored-shadow" style="background-image: url(&quot;.assets/img/products/product-2-min.jpg&quot;);"></div>
                        </div>
                        <div class="card-body pt-8">
                            @*<p class="text-dark mb-2 text-sm">------</p>*@
                             <a href="javascript:;">
                                <h5>
                                    @item.Operation.Title <a asp-area="" asp-controller="Doctor" asp-action="Detail" asp-route-id="@item.Doctor.Id">-@item.Doctor.Title @item.Doctor.FirstName  @item.Doctor.LastName</a>
                                   
                                </h5>
                            </a>
                            <a type="button" name="action" value="detail" class="btn btn-outline-primary btn-sm " asp-area="" asp-controller="OperationDoctor" asp-action="Index" asp-route-id="@item.Id">Sayfasına Git</a>@* mb-0 *@

                            @if (User.IsInRole("clinic") || User.IsInRole("franchise"))
                            {
                            <a asp-controller="OperationDoctor" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary btn-edit-operationDoctor">Düzenle</a>                           
                            <a asp-controller="OperationDoctor" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger btn-delete-operationDoctor" >Sil</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>