@using Plastic.ViewModels
<!-- Clinic -->
@* @model ICollection<Doctor>   *@
    @model _PartialDoctorViewModel

<!--IEnumerable yalnızca veriler üzerinde gezinmek için uygundur, ekleme veya çıkarma işlemlerine izin vermez.o yüzden LİST ya da ICOLLECTİON KULLANMALIYIZ ya da DoctorViewModel oluşturarak da halledebiliriz-->

<section class="pt-7 pb-0">

    <div class="container">
        <div class="row">
        @foreach (var item in Model.Doctors)  //View model kullanınca Model.Doctors oldu
        {
                <div class="col-lg-10 col-md-12">
                    <div class="card mt-8 mt-md-5">
                        <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                            <a class="d-block blur-shadow-image">
                                @if (item.ImageUrl != null)
                                {
                                    <img src="@item.ImageUrl" alt="img-blur-shadow" class="img-fluid border-radius-lg" loading="lazy">
                                }
                            </a>
                            <div class="colored-shadow" style="background-image: url(&quot;.assets/img/products/product-2-min.jpg&quot;);"></div>
                        </div>
                        <div class="card-body pt-3">
                            <p class="text-dark mb-2 text-sm">------</p>
                            <a href="javascript:;">
                                <h5>
                                    @item.FirstName
                                    @item.LastName
                                    (@item.Title)
                                </h5>
                            </a>
                            <a type="button" name="action" value="detail" class="btn btn-outline-primary btn-sm mb-0" asp-area="" asp-controller="Doctor" asp-action="Details" asp-route-id="@item.Id">Sayfasına Git</a>
                            @* <a  data-id="@item.Id" class="dropdown-item border-radius-md" data-bs-toggle="modal" data-bs-target="#editDoctorModal">Düzenle</a> *@  @* modalı tetiklemeye çalışıyorsanız, bu durumda href veya asp-action kullanılarak sayfa yönlendirilmesi gerçekleşmeyecektir. Çünkü modal, sayfa yenilemeden açılacağı için, yönlendirme işlemi gerçekleştirilmez.  AJAX veya JavaScript kullanarak ID'yi modal'a aktarılmalı o yüzden data-id eklenmeli !!!!!!!!!!!!!!!!!!!!!!! *@
                            <form asp-controller="Doctor" asp-action="Edit" method="get">
                                @* <input type="hidden" id="@item.Id" name="id" @* value=""  /> *@
                                <input type="hidden" asp-for="@item.Id" value="@item.Id" />

                                <button type="submit" data-bs-target="#editDoctorModal" data-bs-toggle="modal">Düzenle </button>
                            </form>  @*  <a class="dropdown-item border-radius-md" data-bs-toggle="modal" data-bs-target="#editDoctorModal">Düzenle</a> *@
                            @* <a href="javascript:;" class="btn btn-outline-secondary btn-sm mb-0 edit-doctor-btn" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#editDoctorModal">Düzenle</a> *@
                        </div>
                    </div>
                </div>
        }
    </div>
    </div>
</section>



<!-- MODAL Pop Up-->
 <div class="container py-7">
    <div class="row mt-5">
        <div class="col-sm-3 col-6 mx-auto">
            <div class="modal fade" id="editDoctorModal" tabindex="-1" aria-labelledby="editDoctorModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Düzenle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <section>
                                <div class="container py-4">
                                    <div class="row">
                                        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">


                                            <form asp-area="" asp-controller="Doctor" asp-action="Edit"
                                              enctype="multipart/form-data" method="post" id="editDoctorModalForm" role="form" autocomplete="off">
                                                @* asp-area="" asp-controller="Doctor" asp-action="Edit" *@
                                                @*<input type="hidden" asp-for="EditDoctor.Id" value="EditDoctor.Id" />*@
                                                <input type="hidden" id="doctorId" name="doctorId" @* value="" *@ />
                                                <input type="hidden" asp-for="EditDoctor.ClinicId" value="EditDoctor.ClinicId" />  @* Clinic.Id *@
                                                <input type="hidden" asp-for="EditDoctor.FranchiseId" value="EditDoctor.FranchiseId" />
                                                <div class="card-body">
                                                    <div class="row">

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
@*                                                                 <input type="text" placeholder="Adı" class="form-control border-start-0" asp-for="EditDoctor.FirstName">
                                                                <span asp-validation-for="EditDoctor.FirstName" class="text-danger"></span>*@
                                                               
                                                                <label asp-for="EditDoctor.FirstName" asp-items="@(ViewBag.FirstName as SelectList)">İsim</label>
                                                                <span asp-validation-for="EditDoctor.FirstName" class="text-danger"></span>
                                                                @* <input type="text" class="form-control" asp-validation-for="FirstName" id="FirstName" name="FirstName" /> *@
                                                               
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <label for="EditDoctor.LastName">Soyadı</label>
                                                                <input type="text" class="form-control border-start-0" id="LastName" name="LastName" />

                                                                @* <input type="text" placeholder="Soyadı" class="form-control border-start-0" asp-for="EditDoctor.LastName">
                                                                <span asp-validation-for="EditDoctor.LastName" class="text-danger"></span> *@
                                                                @* <label for="LastName">Soyisim</label>
                                                                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.EditDoctor.LastName" /> *@
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <label for="Title">Ünvan</label>
                                                                <input type="text" class="form-control border-start-0" id="Title" name="Title" />
                                                                
                                                                @* <input type="text" placeholder="Ünvan" class="form-control border-start-0" asp-for="EditDoctor.Title">
                                                                <span asp-validation-for="EditDoctor.Title" class="text-danger"></span> *@
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <label for="Phone">Telefon</label>
                                                                <input type="text" class="form-control border-start-0" id="Phone" name="Phone" />

                                                               @*  <input type="text" placeholder="Telefon" class="form-control border-start-0" asp-for="EditDoctor.Phone">
                                                                <span asp-validation-for="EditDoctor.Phone" class="text-danger"></span> *@
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">

                                                                <input type="text" placeholder="Ülke" class="form-control border-start-0" asp-for="EditDoctor.Country">
                                                                <span asp-validation-for="EditDoctor.Country" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="Sertifika No" class="form-control border-start-0" asp-for="EditDoctor.CertificationNumber">
                                                                <span asp-validation-for="EditDoctor.CertificationNumber" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="E-Mail" class="form-control border-start-0" asp-for="EditDoctor.Email">
                                                                <span asp-validation-for="EditDoctor.Email" class="text- danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                @* <input type="text" placeholder="Şifre" class="form-control border-start-0" asp-for="EditDoctor.Password"> *@
                                                                @* <span asp-validation-for="@Model.EditDoctor.Password" class="text-danger"></span> *@
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                           
                                                            <label for="Gender">Cinsiyet</label>
                                                            <div class="input-group input-group-dynamic">
                                                                <label for="gender_female" style="margin-right:5px; margin-bottom:4px">Kadın</label>
                                                                <input type="radio" id="gender_female" name="Gender" value="Female" />
                                                                <label for="gender_male" style="margin-right:5px; margin-bottom:4px">Erkek</label>
                                                                <input type="radio" id="gender_male" name="Gender" value="Male" />
                                                            </div>


@*                                                             <label asp-for="EditDoctor.Gender" class="form-label">Cinsiyet</label>
                                                            <div class="input-group input-group-dynamic">
                                                                <label for="gender_female" style="margin-right:5px; margin-bottom:4px">Kadın</label>
                                                                <input type="radio" id="gender_female" asp-for="EditDoctor.Gender" style="margin-right:5px;" value="Female" />
                                                                <label for="gender_male" style="margin-right:5px; margin-bottom:4px">Erkek</label>
                                                                <input type="radio" id="gender_male" asp-for="EditDoctor.Gender" value="Male" />
                                                            </div>
 *@
                                                        </div>

@*                                                         <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input asp-for=" Image" type="file" multiple class="form-control border-start-0">
                                                                <span asp-validation-for=" Image" class="text-danger"></span>
                                                            </div>
                                                        </div>

 *@                                                    </div>
                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn bg-gradient-dark mb-0" data-bs-dismiss="modal">Kapat</button>
                            <button type="submit" id="editDoctorModalBtn" name="action" value="doctorCreateSubmit" class="btn bg-gradient-primary mb-0">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
       
        $(document).ready(function () {
            $(".edit-doctor-btn").click(function () {
                var doctorId = $(this).data("id");

                $.ajax({
                    url: '@Url.Action("GetDoctorDetails", "Doctor")/' + doctorId,
                    type: 'GET',
                    success: function (data) {
                        // AJAX ile alınan verileri form alanlarına yerleştiriyoruz
                        $("#doctorId").val(doctorId);
                        $("#FirstName").val(data.firstName);
                        $("#LastName").val(data.lastName);
                        $("#Title").val(data.title);
                        $("#Phone").val(data.phone);
                        // Gender radio button'larını ayarlama
                        $("input[name='Gender'][value='" + data.gender + "']").prop('checked', true);
                        // Eğer ClinicId ve FranchiseId mevcutsa
                        // $("#ClinicId").val(data.clinicId);
                        // $("#FranchiseId").val(data.franchiseId);

                        // Modalı göster
                        $("#editDoctorModal").modal('show');
                    },
                    error: function (error) {
                        console.log("Bir hata oluştu:", error);
                    }
                });
            });


        //modal pop up da doctor create formunun butonunu başka yerde kullanmayı sağlar
        $(document).ready(function () {
            $("#editDoctorModalBtn").click(function () {
                $("#editDoctorModalForm").submit();
            });
        });
        });

    </script>
}

 


