@using Plastic.ViewModels
<!-- -------- Klinik --------->
@* @model IEnumerable<Clinic>*@
    @model ClinicViewModel



<!-- Anlık Hava Durumu Api-->
<div class="col-lg-3">
    <div class="widget style1 lazur-bg">
        <div class="row">
            <div class="col-4">
                <i class="fa fa-5x"></i>
            </div>
            <div class="col-8 text-rigth">
                <span>@ViewBag.City</span>
                <h2 class="font-bold">@ViewBag.v4</h2>
            </div>
        </div>
    </div>
</div>

<!-- ARAMA FİLTRE CONTAİNER -->
<div class="container border-radius-md blur shadow-blur">
    <div class="row border-radius-md pb-4 p-3 mx-sm-0 mx-1 position-relative">
        
        <div class="col-lg-1 mt-lg-n2 mt-2">
            @* <label class="ms-0">Ülke</label> *@
            <div class="input-group input-group-static">
                <span class="input-group-text"></span>
                <input class="form-control" placeholder="Ülke" type="text">
            </div>
        </div>

        <div class="col-lg-1 mt-lg-n2 mt-2">
            <div class="input-group input-group-static">
                <span class="input-group-text"></span>
                <input class="form-control" placeholder="Şehir" type="text">
            </div>
        </div>

        <div class="col-lg-1 mt-lg-n2 mt-2">
            <div class="input-group input-group-static">
                <span class="input-group-text"></span>
                <input class="form-control" placeholder="Bölge" type="text">
            </div>
        </div>

        <div class="col-lg-1 mt-lg-n2 mt-2">
            <div class="input-group input-group-static">
                <span class="input-group-text"></span>
                <input class="form-control" placeholder="Doktor" type="text">
            </div>
        </div>

        <div class="col-lg-1 mt-lg-n2 mt-2">
            <div class="input-group input-group-static">
                @* <label class="ms-0">Kategori</label> *@
                <span class="input-group-text"></span>
                <select class="form-control text-muted"  asp-items="@(new SelectList(ViewBag.Categories, "Id", "Title", ViewBag.CategoryIds))" class="form-control">
                    @* asp-for="@ViewBag.OperationIds" *@
                    <option value="">Kategori</option>
                </select>
            </div>
        </div>

        <div class="col-lg-1 mt-lg-n2 mt-2">
            <div class="input-group input-group-static">
                @* <label class="ms-0">İşlem</label> *@
                <span class="input-group-text"></span>
                <select class="form-control text-muted" asp-items="@(new SelectList(ViewBag.Operations, "Id", "Title", ViewBag.OperationIds))" class="form-control">
                    @* asp-for="@ViewBag.OperationIds" *@
                    <option value="">işlem</option>
                </select>
            </div>
        </div>


@*         <div class="col-lg-3 mt-lg-n2 mt-2">
            <label class="ms-0">Depart</label>
            <div class="input-group input-group-static">
                <span class="input-group-text"><i class="fas fa-calendar" aria-hidden="true"></i></span>
                <input class="form-control datepicker" placeholder="Please select date" type="text">
            </div>
        </div>*@

        <div class="col-lg-3 mt-lg-n2 mt-2 d-flex align-items-end">
            <label>&nbsp;</label>
            <button type="button" class="btn bg-gradient-primary w-100 mb-0 ">Search</button>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 overflow-hidden">

    <section class="pt-7 pb-0">
        <div class="container">

            <!--Clinic/Franchise karışık gösterilmesi-->
            <div class="row">
                @{
                    // Klinik ve Franchise'ları birleştirip rastgele sıralıyoruz.
                    var mixedItems = Model.Clinics.Cast<object>()
                    .Concat(Model.Franchises.Cast<object>())
                    .OrderBy(x => Guid.NewGuid()).ToList();
                }
                @foreach (var item in mixedItems)
                {
                    if (item is Clinic)
                    {
                        var clinic = (Clinic)item;
                        <div class="col-lg-4 col-md-6">
                            <div class="card mt-5 mt-md-0">
                                <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                                    <a class="d-block blur-shadow-image">
                                        <img src="~/assets/img/products/product-2-min.jpg" alt="img-blur-shadow" class="img-fluid border-radius-lg" loading="lazy">
                                    </a>
                                </div>
                                <div class="card-body pt-3">
                                    <p class="text-dark mb-2 text-sm">@clinic.Phone</p>
                                    <a href="javascript:;">
                                        <h5>@clinic.Name (@clinic.District.Name)</h5>
                                    </a>
                                    <p>@clinic.Adress</p>
                                    <a class="btn btn-outline-primary btn-sm mb-0" asp-controller="Clinic" asp-action="Details" asp-route-id="@clinic.Id">Sayfasına Git</a>
                                </div>
                            </div>
                        </div>
                    }
                    else if (item is Franchise)
                    {
                        var franchise = (Franchise)item;
                        <div class="col-lg-4 col-md-6">
                            <div class="card mt-5 mt-md-0">
                                <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                                    <a class="d-block blur-shadow-image">
                                        <img src="~/assets/img/products/product-2-min.jpg" alt="img-blur-shadow" class="img-fluid border-radius-lg" loading="lazy">
                                    </a>
                                </div>
                                <div class="card-body pt-3">
                                    <p class="text-dark mb-2 text-sm">@franchise.Phone</p>
                                    <a href="javascript:;">
                                        <h5>@franchise.Title (@franchise.District.Name)</h5>
                                    </a>
                                    <p>@franchise.Adress</p>
                                    <a class="btn btn-outline-primary btn-sm mb-0" asp-controller="Franchise" asp-action="Details" asp-route-id="@franchise.Id">Sayfasına Git</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <!--Pagination-->
            <div class="col-sm-7 ms-auto text-end">
                <ul class="pagination pagination-primary m-4">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li class="page-item ms-auto">
                            <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.Pager.CurrentPage - 1, pageSize = Model.Pager.PageSize })" aria-label="Önceki">
                                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                            </a>
                        </li>
                    }
                    @for (int i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
                    {
                        <li class="page-item ">
                            <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, pageSize = Model.Pager.PageSize })" class="@(i == Model.Pager.CurrentPage ? "active" : "inactive")">
                                @i
                            </a>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.Pager.CurrentPage + 1, pageSize = Model.Pager.PageSize })" aria-label="Sonraki">
                                <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            </a>

                        </li>
                    }
                </ul>
            </div>

        </div>
    </section>

    <!-- ÇALIŞMIYOR -->
    <style>
        .page-link {
            padding: 8px 12px;
            margin: 0 5px;
            text-decoration: none;
            border: 1px solid #ddd;
            color: #007bff;
        }

            .page-link.active {
                font-weight: bold;
                background-color: #007bff;
                color: white;
                pointer-events: none; /* Aktif sayfa tıklanamaz */
            }

            .page-link.inactive {
                color: #007bff; /* Normal sayfa */
                background-color: white;
                border-color: #ddd;
            }

                .page-link.inactive:hover {
                    background-color: #f0f0f0;
                    border-color: #bbb;
                }
    </style>

</div>

@*     <section class="pt-7 pb-0">
        <div class="container">
            <div class="row">
                <!--  KLİNİK -->
                @foreach (var item in Model.Clinics)
                {
                    <div class="col-lg-4 col-md-6">
                        <br><br><br>
                        <div class="card mt-5 mt-md-0">
                            <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                                <a class="d-block blur-shadow-image">
                                    <img src="~/assets/img/products/product-2-min.jpg" alt="img-blur-shadow" class="img-fluid border-radius-lg" loading="lazy">
                                </a>
                                <div class="colored-shadow" style="background-image: url(&quot;.assets/img/products/product-2-min.jpg&quot;);"></div>
                            </div>
                            <div class="card-body pt-3">
                                <p class="text-dark mb-2 text-sm">@item.Phone</p>
                                <a href="javascript:;">
                                    <h5>
                                        @item.Name (@item.District.Name)
                                    </h5>
                                </a>
                                <p>@item.Adress</p>
                                <a type="button" name="action" value="detail" class="btn btn-outline-primary btn-sm mb-0" asp-area="" asp-controller="Clinic" asp-action="Details" asp-route-id="@item.Id">Sayfasına Git</a>
                            </div>
                        </div>
                    </div>
                }

                <!--  FRANCHİSE -->
                @foreach (var item in Model.Franchises)
                {
                    <div class="col-lg-4 col-md-6">
                        <br><br><br>
                        <div class="card mt-5 mt-md-0">
                            <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-2">
                                <a class="d-block blur-shadow-image">
                                    <img src="~/assets/img/products/product-2-min.jpg" alt="img-blur-shadow" class="img-fluid border-radius-lg" loading="lazy">
                                </a>
                                <div class="colored-shadow" style="background-image: url(&quot;.assets/img/products/product-2-min.jpg&quot;);"></div>
                            </div>
                            <div class="card-body pt-3">
                                <p class="text-dark mb-2 text-sm">@item.Phone</p>
                                <a href="javascript:;">
                                    <h5>
                                        @item.Title  (@item.District.Name)
                                    </h5>
                                </a>
                                <p>@item.Adress</p>
                                <a type="button" name="action" value="detail" class="btn btn-outline-primary btn-sm mb-0" asp-area="" asp-controller="Franchise" asp-action="Details" asp-route-id="@item.Id">Sayfasına Git</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

    </section>
 *@
