<!-- -------- Franchise --------->
@model Clinic
<header>
    
    <nav class="navbar navbar-expand-lg navbar-dark navbar-absolute bg-transparent shadow-none">
        <div class="container">
            <a class="navbar-brand text-white" href="javascript:;">Material Design</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header-2" aria-controls="navbar-header-2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-header-2">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;">
                            Contact Us
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/CreativeTim">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="https://www.facebook.com/CreativeTim">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/CreativeTimOfficial">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header min-vh-75" style="background-image: url(https://images.unsplash.com/photo-1501446529957-6226bd447c46?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2378&q=80)" loading="lazy">
        <span class="mask bg-gradient-dark opacity-4"></span>
        <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-white text-center">
                    <h2 class="text-white">@Model.Adress</h2> 
                    <p class="lead"> @Model.Email</p> 
                    <p class="lead">@Model.Phone</p>
                    </div>
                </div>           
        </div>
    </div>


    <section class="py-7" style="margin-top:-85px ">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="nav-wrapper position-relative end-0">
                        <ul id="nav-tabs" class="nav nav-pills nav-fill p-1" role="tablist">
                            @* <li class="nav-tab" data-url="@Url.Action("Operation", "Franchise")">Operation Tab</li>      id="OperationTab" class="nav-link mb-0 px-0 py-1 active"*@
                            <li class="nav-item">
                                <a href="#" data-url="@Url.Action("Operation", "Franchise")" class="nav-tab" role="tab" />
                                    İşlemlerimiz
                                </a>                                 
                            </li>                          
                            <li class="nav-item">
                                <a href="#" data-url="@Url.Action("Doctor", "Franchise")" class="nav-tab" role="tab" />
                                Doktorlarımız
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-url="@Url.Action("CommentFranchise", "Franchise")" class="nav-tab" role="tab" />
                                Yorumlarımız
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-url="@Url.Action("OtherFranchise", "Franchise")" class="nav-tab" role="tab" />
                                Kliniklerimiz
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="content-area"></div>
                </div>
            </div>
        </div>
    </section>
 
      @section Scripts {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".nav-tab").click(function (e) {
                    e.preventDefault();
                    var url = $(this).data("url");
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (data) {
                            $("#content-area").html(data);
                        }
                    });
                });
            });
        </script>
    }


</header>
<!-- -------- END HEADER 4 w/ search book a ticket form ------- -->